hrservicecenter/force-app/main/default/flows/AssignOnboardingTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Object_Permission</name>
        <label>Check Object Permission</label>
        <locationX>688</locationX>
        <locationY>206</locationY>
        <actionName>CheckObjectPermission</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Object_Permissions</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Onboarding_Tasks_Apex</name>
        <label>Create Onboarding Tasks Apex</label>
        <locationX>127</locationX>
        <locationY>1046</locationY>
        <actionName>CreateOnboardingTasks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>selectedTemplates</name>
            <value>
                <elementReference>Select_onboarding_templates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserID</name>
            <value>
                <elementReference>Get_Employee.UserId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_ErrorMessage</name>
        <label>Assign ErrorMessage</label>
        <locationX>919</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>PermissionErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Object_Permission.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Permission_Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_OnboardingTemplate</name>
        <label>Check Active OnboardingTemplate</label>
        <locationX>457</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OnboardingTemplate_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActiveOnboardingTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_select_Onboarding_Templates</targetReference>
            </connector>
            <label>OnboardingTemplate Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Employee_User</name>
        <label>Check Employee User</label>
        <locationX>259</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>User_Validation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee.UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Tasks_Apex</targetReference>
            </connector>
            <label>User Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Permissions</name>
        <label>Check Object Permissions</label>
        <locationX>688</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Assign_ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Object_Permission.hasReadOnboardingTask</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Object_Permission.hasReadOnboardingTemplate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Object_Permission.hasReadOnboardingTemplateTask</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActiveOnboardingTemplate</targetReference>
            </connector>
            <label>Check Permission</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OnboardingTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>OnboardingTemplate__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assign Onboarding Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Onboarding Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>259</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Employee_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveOnboardingTemplate</name>
        <label>GetActiveOnboardingTemplate</label>
        <locationX>457</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_OnboardingTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OnboardingTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen_0</name>
        <label>Confirmation Screen</label>
        <locationX>127</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Display_Text_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 16px;&quot;&gt;Onboarding tasks successfully assigned!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 14px;&quot;&gt;To view the status of the onboarding tasks, go to the employee’s record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multi_select_Onboarding_Templates</name>
        <label>Multi-select Onboarding Templates.</label>
        <locationX>259</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
        <fields>
            <name>AssignObBoardingTexBody</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;HR Service Center supports templates for bulk onboarding. To start the onboarding process, select your templates, then click Assign.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_onboarding_templates</name>
            <choiceReferences>OnboardingTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select onboarding templates.</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_Onboarding_Tasks</name>
            <extensionName>c:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <stringValue>Assign</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Object_Permission_Error_Message_Screen</name>
        <label>Object Permission Error Message Screen</label>
        <locationX>919</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OnBoardingPermissionErrorMessage</name>
            <fieldText>&lt;p&gt;{!PermissionErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>655</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActiveOnBoardingTemplatetext</name>
            <fieldText>&lt;p&gt;No Active OnBoarding Template found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Validation_Screen</name>
        <label>User Validation Screen</label>
        <locationX>391</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserValidationError</name>
            <fieldText>&lt;p&gt;{!$Label.wkdw__employee_without_user_error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Object_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskIdList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalOnboardingTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>